.formContainer {
	display: block;
}

.questionEditInput {
    border: none;
    padding-bottom: .5em;
    border-bottom: .01em solid black;
	display: block;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	text-align: center;
}

.questionEditInput:focus {
	outline: none;
	font-family: 'Montserrat', sans-serif;
}

.buttonGroup {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.questionEditButton {
	background-color: white;
	color: dodgerblue;
	padding: 0.5em;
	margin-right: 1em;
	border: 1px solid dodgerblue;
	border-radius: 1em;
	font-family: 'Montserrat', sans-serif;
}

.questionEditButton:hover {
	background-color: dodgerblue;
	color: white;
	padding: 0.5em;
	border: none;
	border-radius: 1em;
	font-family: 'Montserrat', sans-serif;
}

.cancelEditButton {
	background-color: white;
	color: rgb(255, 38, 30);
	padding: 0.5em;
	border: 1px solid rgb(255, 38, 30);
	border-radius: 1em;
	font-family: 'Montserrat', sans-serif;
}

.cancelEditButton:hover {
	background-color: rgb(255, 38, 30);
	color: white;
	padding: 0.5em;
	border: none;
	border-radius: 1em;
	font-family: 'Montserrat', sans-serif;
}

