.questionForm {
	margin-top: 5em;
	margin-right: 27%;
	margin-left: 27%;
	background-color: white;
	border-radius: 1em;
	box-shadow: 0 0 8px #9095a1;
	padding: 1em;
}

.formContainer {
	display: block;
}

.questionInput {
	border: none;
	display: block;
	width: 100%;
	border-radius: 0.4em;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	text-align: center;
	background-color: white;
}

.questionInput:focus {
	outline: none;
	box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
	font-family: 'Montserrat', sans-serif;
}

.questionButton {
	display: block;
	margin-left: auto;
	margin-top: 0.7em;
	margin-right: auto;
	background: transparent;
	border: none;
	color: rgb(93, 93, 93);
}

.questionButton:hover {
	color: black;
}

.questionButton i {
	font-size: 1.5em;
}
