.imgContainer img {
    max-width: 100%;
    max-height: 100%;
    border-radius: .7em;
    /* object-fit: contain; */
}

.deleteBtn {
	background: transparent;
	border: none;
	color: #f10606;
	font-size: 1.2em;
}

.deleteBtn:hover {
	background: transparent;
	border: none;
	color: #b70404;
	font-size: 1.5em;
	animation-delay: 500ms;
}

.editBtn {
	background: transparent;
	border: none;
	color: #0546a2;
	font-size: 1.2em;
}

.editBtn:hover {
	background: transparent;
	border: none;
	color: #0668f1;
	font-size: 1.5em;
}

.answerInfo {
    display: flex;
    justify-content: space-between;
}

.answerInfoAuthor {
    display: flex;
}

.answerAuthor {
    margin-right: .5em;
    font-weight: 700;
}

.answerDate {
    /* font-size: .8em; */
    color: #9095A1;
}

.answerText {
    line-height: 1.6;
    margin-top: 0;
}
