.question {
	/* border: 1px solid black; */
	background-color: white;
	border-radius: 1em;
	box-shadow: 0 0 8px #9095a1;
	padding: 1em;
	margin-bottom: 2em;
}

.questionHeader {
	display: flex;
	justify-content: space-between;
}

.buttonsEditDelete {
	margin-top: 1em;
}

.deleteBtn {
	background: transparent;
	border: none;
	color: #f10606;
	font-size: 1.2em;
}

.deleteBtn:hover {
	background: transparent;
	border: none;
	color: #b70404;
	font-size: 1.5em;
	animation-delay: 500ms;
}

.editBtn {
	background: transparent;
	border: none;
	color: #0546a2;
	font-size: 1.2em;
}

.editBtn:hover {
	background: transparent;
	border: none;
	color: #0668f1;
	font-size: 1.5em;
}

.questionDate {
	font-size: 0.8em;
	color: #9095a1;
}

.questionDescription {
	line-height: 1.6;
}
