.questionList {
    margin-top: 4em;
    margin-right: 27%;
    margin-left: 27%;
}

.question {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 8px #9095A1;
    padding: 1em;
    margin-bottom: 2em;
}

.showAnswerForm {
    background: transparent;
	border: 1px solid #164ee9;
    border-radius: .4em;
	color: #164ee9;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5em;
}
